/* @import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700;800&display=swap"); */

.Desktop {
  font-family: sans-serif;
}

.Dock {
  position: fixed;
  bottom: 1vw;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 5rem);
  /* grid-gap: 1vw; */
}

.App {
  cursor: pointer;
}

.app-logo {
  margin-left: 1vw;
  width: 9vh;
}

.app-logo:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.5);
}

/* Window CSS */

.Window {
  border: 1px solid black;
  height: 80vh;
  margin: 1rem;
  padding: 1vh;
}

.reach-out:hover .dot {
  cursor: pointer;
  color: black;
}

.dot {
  margin-left: 0.4rem;
  text-align: center;
  border-radius: 50%;
  display: inline-block;
  width: 1rem;
  color: transparent;
}

.close {
  background-color: #ff605c;
  padding: 0;
}

.minimize {
  background-color: #ffbd44;
}

.expand {
  background-color: #00ca4e;
}

.rotate {
  /* font-size: 3rem; */
  transform: rotate(-40deg);
  /* Safari */
  -webkit-transform: rotate(-40deg);

  /* Firefox */
  -moz-transform: rotate(-40deg);

  /* IE */
  -ms-transform: rotate(-40deg);

  /* Opera */
  -o-transform: rotate(-40deg);
}

.headimg {
  text-align: center;
  font-size: 6vmin;
  border-width: 0 0 1px;
  text-decoration: underline;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.container {
  /* margin-top: 5vh;
  margin-left: 5vw; */
  border: 1px solid black;
}

#content {
  margin-left: 1rem;
  margin-right: 1rem;
  /* border: 1px solid black; */
  font-size: 3vmin;
}

.hashtags > span {
  margin: 3vmin;
  margin-left: 0;
  padding: 1vmin;
  border: 0.5px solid black;
}

.project-title {
  background: black;
  color: white;
  font-size: 3.5vmin;
  padding-left: 1.5vmin;
  margin-bottom: 3vmin;
  margin-top: 1.5vmin;
  padding-bottom: 1.5vmin;
  padding-top: 1.5vmin;
}

.project-info {
  margin-top: 3vmin;
}
